* {
    margin: 0;
    padding: 0;
  }
  :root {
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
  }
  
  .PanelMenu .TextoDeImagen img {
    width: 40px;
    border-radius: 6px;
    padding: 2px 2px 0px 5px;
  }
  .PanelMenu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 47px;
    background: rgb(245, 240, 240);
    border-radius: 2%;
    transition: var(--tran-05);
    overflow-x: hidden;
    z-index: 9999;
  }
  .PanelMenu .text {
    font-size: 16px;
    font-weight: 500;
  }
  .PanelMenu .ImagenSpamPM {
    min-width: 40px;
    display: flex;
    align-items: center;
  }
  .PanelMenu header .TextoDeImagen {
    display: flex;
    flex-wrap: nowrap;
  }
  .PanelMenu header .flecha {
    position: absolute;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
    height: 17px;
    width: 17px;
    background: rgb(192, 185, 250);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: black;
    font-size: 22px;
  }
  .PanelMenu header .flecha:hover {
    height: 100px;
    /* width: 100%; */
    border-radius: 0;
    transition: var(--tran-05);
  }
  .PanelMenu header {
    position: relative;
  }
  .PanelMenu .menu .Buscar {
    width: 70%;
  }
  .PanelMenu li a {
    text-decoration: none;
    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
    border-radius: 6px;
    transition: var(--tran-05);
  }
  .PanelMenu li {
    margin-top: 10px;
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
  }
  .PanelMenu li .icon {
    font-size: 20px;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .PanelMenu li .icon,
  .PanelMenu li .Texto {
    color: black;
    transition: var(--tran-03);
  }
  .PanelMenu li a:hover .icon,
  .PanelMenu li a:hover .Texto {
    color: rgb(255, 255, 255);
    transition: var(--tran-03);
  }
  .PanelMenu {
    background: white;
  }
  .PanelMenu li a:hover {
    background: rgb(95, 95, 194);
  }
  .PanelMenu .Barra-Menu {
    display: flexbox;
    height: calc(100%-50px);
    display: flex;
    flex-direction: column;
  
    /* justify-content: space-between; */
  }
  .menu-links .li-links .Texto {
    opacity: 0;
  }
  .TextoLogo {
    opacity: 0;
  } 